<div id="notice"><%= notice %></div>

<div class="col-xs-12 text-center p-title">
  <h1>ユーザー名:<%= @user.name %></h1>
  <h1>ニックネーム:<%= @user.nickname %></h1>
</div>

    <% @completes.each do |complete| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-body text-center">
            <h4> 作品名：<%= complete.name %></h4>
            <p><%= image_tag complete.img_path %></p>
            <p><%= complete.description %></p>
            <%= link_to '表示する', complete, target: "_brank", class: "btn btn-default", role: "button"%>
          </div>
        </div>
      </div>
    <% end %>



<div class="col-xs-12 text-center">
  <% if @current_user == "administrator" %>
    <%= link_to '編集', edit_user_path(@user) %>
  <% end %>

  <%= link_to '一覧に戻る', users_path, class: "btn btn-default", role: "button" %>
</div>